<html>
  <head>
    <title>My Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
		p{color: blue;}
		.done{text-decoration:line-through}
    .hover:hover{background: gray;}
    ul{list-style-type: none}
        margin:0;
        padding:0;}
    .menu{display:inline;}
	</style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>